<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/task9.css">
</head>
<body>

<section>
    <ul>
        <li>Уровень 1</li>
        <li class="hover">
            Уровень 1
            <ul class="sublist">
                <li>Уровень 2</li>
                <li>Уровень 2</li>
            </ul>
        </li>
        <li>Уровень 1</li>
    </ul>
</section>

</body>
</html>