<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/task4.css">
</head>
<body>

<section>
    <div>
        <div class="block1 red">1<br><br><br></div>
        <div class="block2 red">2<br>2<br><br></div>
        <div class="block3">3<br>3<br>3</div>
    </div>
</section>

</body>
</html>