<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/task3.css">
</head>
<body>

<section>
    <div class="block-1" style="background-color: #F00;">1</div>
    <div class="block-2" style="background-color: #0F0;">
        <div class="block-3" style="background-color: #00F;">2</div>
        <div class="block-4" style="background-color: #000;">
            <div class="block-5" style="background-color: #F0F;">3</div>
            <div class="block-6" style="background-color: #0FF;">3<br/>3</div>
            <div class="block-7" style="background-color: #FF0;">3<br/>3<br/>3</div>
        </div>
    </div>
</section>

</body>
</html>