// color
$black: #0D0D0D;
$silver: #C5C5C5;
$blue: #2434DA;
$orange: #F66923;
$white: #ffffff;

$silver-hover: #8b8b8b;
$blue-hover: #3a49db;
$orange-hover: #f88144;

$orange-light: #F6F3FF;
$grey-light-bg: #F4F6FB;
$orange-light-bg: #FFF3EB;
$yellow-light-bg: #FFF4E7;
$green-light-bg: #F5FDEE;