<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="#bbf8fa">

<h1>Король Лев</h1>

<div align="center">
    <a href="lionKing.html">
        <img src="lionKing.jpg" alt="lionKing">
    </a>
</div>

<p align="left">
    <font color="#db7093">
        «Король Лев» - это диснеевская классика, которая не нуждается в особом представлении. Пожалуй, не было такого
        ребенка в 1990-х, который бы не плакал над смертью Муфасы и тяготами жизни его наследника Симбы. Маленький
        львенок
        уже в детстве оказался вовлечен в интриги завистливого дяди Шрама, мечтающего о том, чтобы получить трон любыми
        возможными способами. Но история Симбы – это не только рассказ о пути к короне, это еще и история о настоящей
        дружбе
        и любви. Герой растет, его характер закаляется от жизненных сложностей и в условиях нелегкой борьбы, он
        побеждает
        дядю и получает свое законное место в «Круге жизни», четко понимая, что значит быть царем зверей.
    </font>
</p>

<p align="left">
    Картина балы отмечена двумя «Оскарами», тремя «Грэмми», а также тремя «Золотыми глобусами». Мультфильм вошел в
    историю, как один из самых продаваемых на VHS-кассетах во всем мире.
</p>

<video width="400" height="300" controls="controls">
    <source src="https://youtu.be/aGBO_v3-hMg" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
</video>

</body>
</html>