<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="ffe0fb">

<h1 colo>Унесённые призраками</h1>

<div align="center">
    <a href="yourName.jpg">
        <img src="yourName.jpg" alt="yourName">
    </a>
</div>

<p align="center">
    <font color="red">
        Пожалуй, нет в мире человека, который бы ни разу не слышал о данной картине. «Унесенные призраками» - это
        классика
        среди анимационных фильмов. Мультфильм был выпущен в 2011 году и по сей день является самой кассовой японской
        картиной. Кстати, для России и стран СНГ это еще и самая известная работа японская режиссера Хаяо Миядзаки.
        Мультфильм был отмечен премией «Оскар».
    </font>
</p>

<p align="center">
    Сюжет достаточно прост: родители главной героини Тихиро в процессе переезда сбились с пути и оказались в безлюдной
    деревне. Однако все изменится с наступлением темноты: по улицам вальяжно шествуют удивительные существа, обратная
    дорога попросту пропадает, а сами отец и мать девочки становятся поросятами. Тихиро придется приспосабливаться к
    новым условиям полного опасностей волшебного мира и искать способ снятия проклятья, чтобы превратить своих родителей
    обратно в людей.
</p>

<br><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/CfGRp5oLWzs" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

</body>
</html>