* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.correctly {
    background: lightgreen;
    color: #000000;
    border: 1px solid #000;
}

.error {
    background: red;
    color: #000000;
    border: 1px solid #000;
}

.green {
    color: #34ff34 !important;
}

.used-function {
    background: #bb3535;
}

.save-zone {
    color: yellow;
}