<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table width="400px" cellpadding="6">
    <tr bgcolor="#a52a2a" align="center">
        <th><font color="white">Заголовок 1</font></th>
        <th><font color="white">Заголовок 2</font></th>
    </tr>
    <tr bgcolor="#a52a2a" color="white">
        <td><font color="white">Ячейка 3</font></td>
        <td><font color="white">Ячейка 4</font></td>
    </tr>
</table>

</body>
</html>