<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="#ffebb3">

<h1>Лучшие анимационные фильмы всех времен</h1>

<p align="justify">
    На сегодняшний день в мире есть огромное количество анимационных фильмов, которые можно просмотреть. Однако, из-за
    такого изобилия вариантов, многие люди теряются и не знают, что выбрать. В этом поможет сегодняшняя подборка, в
    которой будут представлены самые интересные картины по оценкам пользователей сети.
</p>

<p align="justify">
    К сожалению, в последнее время у зрителей возникают проблемы с просмотром видеоконтента, но это решаемо. Уже давно
    любители киноновинок и анимационной классики озаботились этим вопросом и подобрали лучшие VPN для доступа к
    заблокированным сайтам.
</p>

<ul>
    <li>
        <a href="task6/yourName.html">
            <font color="#2e8b57">
                Твое имя
            </font>
        </a>
    </li>
    <li>
        <a href="task6/lionKing.html">
            <font color="#6a5acd">
                Король Лев
            </font>
        </a>
    </li>
</ul>

<video src="https://www.youtube.com/watch?v=aGBO_v3-hMg" controls></video>

</body>
</html>