<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div>
        В языках Си, С++, Java, C#, JavaScript и других символ &laquo;&amp;&raquo; применяется для обозначения нескольких операторов: <br>
        &mdash; для получения указателя переменной, унарный оператор, &laquo;&amp;&raquo; должен предшествовать идентификатору (имени) переменной; <br>
        &mdash; оператор &laquo;&amp;&raquo; обозначает побитовое И; <br>
        &mdash; оператор &laquo;&amp;&amp;&raquo; обозначает условное логическое И (проверка истинности последующего выражения только при условии истинности предшествующего). <br>
    </div>

</body>
</html>