<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="#f0f8ff">

<table width="100%" bgcolor="#ffe4c4" border="1" cellpadding="6">
    <caption align="center"><font color="#a52a2a" size="7"><i><b>Меню ресторана</b></i></font></caption>

    <tr>
        <th colspan="2"></th>
        <th>Русская кухня</th>
        <th>Японская кухня</th>
        <th>Китайская кухня</th>
    </tr>
    <tr>
        <th rowspan="2">Холодные закуски</th>
        <th>Салаты</th>
        <td>
            <ul>
                <li>Мясной салат по-сибирски</li>
                <li>Салат "Оливье" с языком</li>
                <li>Салат "Таёжный" с маринованными грибами и клюквой</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Нежный салат из кальмаров</li>
                <li>Пикантная овощная закуска по-японски</li>
                <li>Японский салат "Сябу-сябу" со свининой</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Битые огурцы по-китайски</li>
                <li>Помидоры по-китайски</li>
                <li>Салат из свиного мяса, апельсинов и китайской капусты</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Закуски</th>
        <td>
            <ul>
                <li>Скумбрия малосольная</li>
                <li>Сырники с зеленью</li>
                <li>Закусочный блинный торт с куриной печенью и отварными яйцами</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Маки-суши (роллы)</li>
                <li>Сашими из лосося и тунца</li>
                <li>Роллы с семгой и огурцом</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Баклажаны остро-сладкие по-китайски</li>
                <li>Пикантные куриные крылышки, жаренные с кока-колой и соевым соусом</li>
                <li>Мясные шарики в рисовой "бумаге" (димсам)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th rowspan="2">Гарячие закуски</th>
        <th>Первые блюда</th>
        <td>
            <ul>
                <li>Щи ленивые на копченостях</li>
                <li>Солянка грибная</li>
                <li>Солянка овощная с шампиньонами</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Лапша удон с курицей и овощами в соусе терияки</li>
                <li>Азиатскимй суп "Кимчи Рамен"</li>
                <li>Японский суп рамен, с курицей</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Китайский рыбный суп</li>
                <li>Китайский томатный суп с яйцами</li>
                <li>Китайский суп с лапшой, курицей, овощами, креветками</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Вторые блюда</th>
        <td>
            <ul>
                <li>Картофельные зразы с начинкой из солёных огурцов и моркови</li>
                <li>Постные голубцы с грибами, перловкой и булгуром, в соусе из помидоров и соевых сливок</li>
                <li>Куриная печень, тушенная с кабачками и сметаной</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Курица терияки</li>
                <li>Японские картофельные крокеты</li>
                <li>Роллы с огурцом и форелью</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Фунчоза с индейкой, грибами и сладким перцем</li>
                <li>Вермишель быстрого приготовления с беконом и яйцом</li>
                <li>Треска по-китайски</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th rowspan="2" colspan="2">Десерты</th>
        <td rowspan="2">
            <ul>
                <li>Блинный торт со сметанным кремом</li>
                <li>Творожная пасха со сгущёнкой</li>
                <li>Творожная пасха с изюмом, черносливом и цукатами</li>
            </ul>
        </td>
        <td rowspan="2">
            <ul>
                <li>Мороженое Mochi</li>
                <li>Золотая рыбка</li>
                <li>Шашлык из конфет</li>
            </ul>
        </td>
        <td rowspan="2">
            <ul>
                <li>Яичные пирожки</li>
                <li>Фрукты в Карамели</li>
                <li>Миндальное желе</li>
            </ul>
        </td>
    </tr>
</table>

</body>
</html>