<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/task14.css">
</head>
<body>

<main>
    <table>
        <tr>
            <td class="blue top"></td>
            <td class="red top-left"></td>
            <td class="red right"></td>
        </tr>
        <tr>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="blue circle"></td>
        </tr>
        <tr>
            <td class="blue bottom"></td>
            <td class="red bottom-left"></td>
            <td class="red right"></td>
        </tr>
    </table>
</main>

</body>
</html>