<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="">
    <label for="name">
        Ф.И.О.:
        <input type="text" id="name" name="name">
    </label>
    <br>

    <label for="login">
        Логин:
        <input type="text" id="login" name="login">
    </label>
    <br>

    <label for="password">
        Пароль:
        <input type="password" id="password" name="password">
    </label>
    <br>

    <label for="passwordRepeat">
        Повторите пароль:
        <input type="password" id="passwordRepeat" name="passwordRepeat">
    </label>
    <br>

    <div>
        Пол:
        <label for="male">
            <input type="radio" id="male" name="sex" checked>
            М
        </label>
        <label for="woman">
            <input type="radio" id="woman" name="sex">
            Ж
        </label>
    </div>
    <br>

    <button type="submit">Регистрация</button>
</form>

</body>
</html>