<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div>
        Он словно вырезан из <b>камня</b>, стоек и неподвижен в <br>
        отличие от его противников. <i>Дух и жизненная сила</i> в <br>
        нём достигла <i><b>совершенства</b></i>. Но вот беда &mdash; никто не <br>
        смеет принять его вызов.
    </div>

    <br><br>

    <div>
        <b>Формула изумруда: </b> <i>Be<sub>3</sub>Al<sub>2</sub>(SiO<sub>3</sub>)<sub>6</sub></i>
    </div>

</body>
</html>