<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<textarea name="textarea" cols="30" rows="10">Соображения высшего порядка, а также рамки и место обучения кадров влечет за собой процесс внедрения и модернизации ключевых компонентов планируемого обновления! Дорогие друзья, дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы масштабного изменения ряда параметров? Разнообразный и богатый опыт консультация с профессионалами из IT создаёт предпосылки качественно новых шагов для дальнейших направлений развития проекта! Соображения высшего порядка, а также реализация намеченного плана развития позволяет выполнить важнейшие задания по разработке дальнейших направлений развития проекта. Повседневная практика показывает, что консультация с профессионалами из IT требует от нас анализа форм воздействия? Практический опыт показывает, что начало повседневной работы по формированию...</textarea>
<br><br>

<select name="animals">
    <option value="cat">Кошка</option>
    <option value="dot">Собака</option>
    <option value="mouse">Мышка</option>
    <option value="elephant">Слон</option>
    <option value="lion">Лев</option>
    <option value="tiger">Тигр</option>
</select>
<br><br>

<textarea name="textarea" cols="30" rows="10">Соображения высшего порядка, а также рамки и место обучения кадров влечет за собой процесс внедрения и модернизации ключевых компонентов планируемого обновления! Дорогие друзья, дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы масштабного изменения ряда параметров? Разнообразный и богатый опыт консультация с профессионалами из IT создаёт предпосылки качественно новых шагов для дальнейших направлений развития проекта! Соображения высшего порядка, а также реализация намеченного плана развития позволяет выполнить важнейшие задания по разработке дальнейших направлений развития проекта. Повседневная практика показывает, что консультация с профессионалами из IT требует от нас анализа форм воздействия? Практический опыт показывает, что начало повседневной работы по формированию...</textarea>
<br><br>

<select name="food">
    <optgroup label="Фрукты">
        <option value="fruit">Яблоко</option>
        <option value="fruit">Груша</option>
        <option value="fruit">Персик</option>
    </optgroup>
    <optgroup label="Овощи">
        <option value="vegetable">Картошка</option>
        <option value="vegetable">Огурец</option>
        <option value="vegetable">Помидор</option>
    </optgroup>
</select>
<br><br>

</body>
</html>