<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Кутовой Данил Олегович</h1>

    <h3><i>22.01.2000</i></h3>

    <p>
        <pre>
            <b>Мое хобби - это футбол. Занимаюсь им с 10 лет.</b>
        </pre>
    </p>

    <q><u>Не совершай классическую ошибку всех умников: не думай, что нет людей умнее тебя.</u></q>
    <br>
    <br>

    <div>M = y<sub>11</sub>k<sup>4</sup>x</div>
    <br>

</body>
</html>