<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/task2.css">
</head>
<body>

<section>
    <p style="font-weight: bold">Flex-container 400px</p>
    <div class="media-400">
        <div class="item-1">Flex item 1</div>
        <div class="item-2">Flex item 2</div>
        <div class="item-3">Flex item 3</div>
        <div class="item-4">Flex item 4</div>
    </div>

    <p style="font-weight: bold">Flex-container 500px</p>
    <div class="media-500">
        <div class="item-1">Flex item 1</div>
        <div class="item-2">Flex item 2</div>
        <div class="item-3">Flex item 3</div>
        <div class="item-4">Flex item 4</div>
    </div>

    <p style="font-weight: bold">Flex-container 600px</p>
    <div class="media-600">
        <div class="item-1">Flex item 1</div>
        <div class="item-2">Flex item 2</div>
        <div class="item-3">Flex item 3</div>
        <div class="item-4">Flex item 4</div>
    </div>
</section>

</body>
</html>